@using FuelStation.Blazor.Shared.DTOs.Customer

@page "/customer/details/{Id:int?}"

@inject HttpClient Http
@inject NavigationManager navigationManager

@if (Customer == null)
{
    <p>loading</p>
}
else
{

    <h1 class="mb-5">Details for customer: @Customer.Name @Customer.Surname</h1>

    <div class="row mb-5">
        <div><strong>ID:</strong> @Customer.Id</div>
        <div><strong>Card number:</strong> @Customer.CardNumber</div>
    </div>

    <h2 class="mb-3">Transactions</h2>

    <div class="table-responsive">

        <table class="table table-dark table-striped">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Payment Method</th>
                    <th>Total Value</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var transaction in Customer.Transactions)
                {
                    <tr>
                        <td>@transaction.Id</td>
                        <td>@transaction.Date</td>
                        <td>@transaction.PaymentMethod</td>
                        <td>@transaction.TotalValue</td>

                    </tr>
                }
            </tbody>

        </table>

    </div>


}


@code {

    [Parameter] public int? Id { get; set; }

    CustomerDetailsDto? Customer { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Customer = await Http.GetFromJsonAsync<CustomerDetailsDto>($"customer/details/{Id}");

    }

    private void OnCancel()
    {
        navigationManager.NavigateTo("customer");
    }

}

