@using FuelStation.Blazor.Shared.DTOs.Transaction

@inject HttpClient Http
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

@page "/transactions"

@if (transactions == null)
{
    <Spinner />
}
else
{
    <PageTitle>Transactions - Fuel Station</PageTitle>

    <h1 class="mb-5">Transactions</h1>

    <button class="btn btn-primary mb-5" @onclick="Add">Add new transaction</button>

    <div class="table-responsive p-3">

        <table class="table table-dark table-striped table-hover">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Employee</th>
                    <th>Customer</th>
                    <th>Total Value</th>
                    <th>Payment Method</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var t in transactions)
                {
                    <tr>
                        <td>@t.Id</td>
                        <td>@t.Date</td>
                        <td>@t.EmployeeName @t.EmployeeSurname (@t.EmployeeId) (@t.EmployeeType)</td>
                        <td>@t.CustomerName @t.CustomerSurname (@t.CustomerId)</td>
                        <td>@t.TotalValue</td>
                        <td>@t.PaymentMethod</td>
                        <td>
                            <button class="btn btn-warning" @onclick="() => Edit(t)">Edit</button>
                            <button class="btn btn-danger" @onclick="() => Delete(t)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
}

@code {

    private List<TransactionDto>? transactions;

    protected override async Task OnInitializedAsync()
    {
        await LoadItemsFromServer();

    }

    private async Task LoadItemsFromServer()
    {
        transactions = await Http.GetFromJsonAsync<List<TransactionDto>>("transaction");
    }

    private void Add()
    {
        navigationManager.NavigateTo("transaction/edit");
    }

    private void Edit(TransactionDto transaction)
    {
        navigationManager.NavigateTo($"transaction/edit/{transaction.Id}");
    }

    private async Task Delete(TransactionDto transaction)
    {
        var confirm = await jsRuntime.InvokeAsync<bool>("confirm", "Confirm transaction deletion?");
        if (confirm)
        {
            var response = await Http.DeleteAsync($"transaction/{transaction.Id}");
            response.EnsureSuccessStatusCode();
            await LoadItemsFromServer();
        }

    }

}