@using FuelStation.Blazor.Shared.DTOs.Transaction
@using FuelStation.Blazor.Shared.DTOs.TransactionLine
@using FuelStation.Blazor.Shared.DTOs.Customer
@using FuelStation.Blazor.Shared.DTOs.Employee
@using FuelStation.Blazor.Shared.DTOs.Item
@using FuelStation.Models.Enums

@page "/transaction/edit/{Id:int?}"

@inject HttpClient Http
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

@if (isLoading)
{
    <Spinner />
}
else
{
    @if (Id == null)
    {
        <PageTitle>New Transaction - Fuel Station</PageTitle>
        <h2 class="mb-5">New transaction</h2>
    }
    else
    {
        <PageTitle>Edit Transaction @Transaction.Id - Fuel Station</PageTitle>
        <h2 class="mb-5">Edit transaction @Transaction.Id</h2>
    }

    @if (Id == null)
    {
        <div class="row mb-4">
            <label class="form-label">Search Customer</label>
            <div class="input-group">
                <input type="text" class="form-control" @bind="CustomerCardNumber" placeholder="Enter customer card number" />
                <button class="btn btn-primary" @onclick="FindCustomerByCardNumber">Search</button>
            </div>
        </div>
    }

    @if (CustomerFound == true || Id != null)
    {
        <div class="row mb-5">

            <div class="col-md-6 mb-3">
                @if (Id == null)
                {
                    <label class="form-label">Customer</label>

                    <select class="form-select" disabled @bind="Transaction.CustomerId">
                        @foreach (var c in Transaction.Customers)
                        {
                            <option value="@c.Id">@c.Name @c.Surname</option>
                        }
                    </select>
                }
                else
                {
                    <label class="form-label">Customer</label>

                    <select class="form-select" @bind="Transaction.CustomerId">
                        @foreach (var c in Transaction.Customers)
                        {
                            <option value="@c.Id">@c.Name @c.Surname</option>
                        }
                    </select>
                }
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Employee</label>
                <select class="form-select" @bind="Transaction.EmployeeId">
                    @foreach (var e in Transaction.Employees)
                    {
                        <option value="@e.Id">@e.Name @e.Surname</option>
                    }
                </select>
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Transaction Date</label>
                <input class="form-control" type="date" @bind-value="Transaction.Date" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Payment Method</label>
                <select class="form-select" @bind="Transaction.PaymentMethod">
                    @foreach (var pm in Enum.GetValues<PaymentMethod>())
                    {
                        <option value="@pm">@pm</option>
                    }
                </select>
            </div>

        </div>

        <div class="row mb-5">
            <div>Total Value</div>
            <div class="trans-total-value">@Transaction.TransactionLines.Sum(tl => tl.TotalValue)</div>
        </div>

        /* Transaction Lines Start  */

        <h3 class="mb-5">Transaction Lines</h3>

        <div class="row mb-5">

            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-text">Select Item</span>
                    <select class="form-select" @bind="TransactionLine.ItemId">
                        @foreach (var i in TransactionLine.Items)
                        {
                            <option value="@i.Id">@i.Description (@i.Price)</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-2">
                <div class="input-group">
                    <span class="input-group-text">Quantity</span>
                    <input class="form-control" type="number" @bind-value="TransactionLineQuantity" />
                </div>
            </div>

            <div class="col-md-4">
                <button class="btn btn-primary" @onclick="() => AddTransactionLine()">Add Item</button>
            </div>

        </div>

        <div class="table-responsive p-3 mb-5">

            <table class="table table-dark table-striped table-hover">

                <thead>
                    <tr>
                        <th>Item Id</th>
                        <th>Item Code</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Net Value</th>
                        <th>Discount (%)</th>
                        <th>Discount Value</th>
                        <th>Total Value</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var tl in Transaction.TransactionLines)
                    {
                        var item = TransactionLine.Items.FirstOrDefault(i => i.Id == tl.ItemId);
                        var itemCode = item != null ? item.Code : "-";
                        var itemDescription = item != null ? item.Description : "-";
                        <tr>
                            <td>@tl.ItemId</td>
                            <td>@itemCode</td>
                            <td>@itemDescription</td>
                            <td>@tl.Quantity</td>
                            <td>@tl.ItemPrice   </td>
                            <td>@tl.NetValue</td>
                            <td>@tl.DiscountPercent</td>
                            <td>@tl.DiscountValue</td>
                            <td>@tl.TotalValue</td>
                            <td>@tl.ItemId</td>
                            <td>
                                <button class="btn btn-danger" @onclick="() => DeleteTransactionLine(tl)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>

        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="btn-group" role="group" aria-label="Actions">
                    <button class="btn btn-primary" @onclick="Save">Save</button>
                    <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
                </div>
            </div>
        </div>
    }

    else if (CustomerFound == false)
    {
        <div class="row mb-5">
            <div class="mb-3">Customer not found. Create a new one?</div>
            <div>
                <button class="btn btn-primary" @onclick="CreateCustomer">Create Customer</button>
            </div>
        </div>
    }

}

@code {

    [Parameter] public int? Id { get; set; }

    TransactionEditDto? Transaction { get; set; }

    TransactionLineDto? TransactionLine { get; set; }

    bool isLoading { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            Transaction = new TransactionEditDto();

            Transaction.Date = DateTime.Now;
        }
        else
        {
            Transaction = await Http.GetFromJsonAsync<TransactionEditDto>($"transaction/edit/{Id}");
        }

        TransactionLine = new TransactionLineDto();

        await LoadJsonsFromServer();

        isLoading = false;
    }

    private async Task LoadJsonsFromServer()
    {
        var customersJson = await Http.GetFromJsonAsync<List<CustomerEditDto>>("customer");
        if (customersJson != null)
        {
            Transaction.Customers = customersJson;
        }

        var employeesJson = await Http.GetFromJsonAsync<List<EmployeeEditDto>>("employee");
        if (employeesJson != null)
        {
            Transaction.Employees = employeesJson;
        }

        var itemsJson = await Http.GetFromJsonAsync<List<ItemEditDto>>("item");
        if (itemsJson != null)
        {
            TransactionLine.Items = itemsJson;
        }
    }

    private void Cancel()
    {
        navigationManager.NavigateTo("transactions");
    }

    private async Task Save()
    {
        // Business rule
        Transaction.TotalValue = Transaction.TransactionLines.Sum(tl => tl.TotalValue);

        if (Transaction.TotalValue > 50m && Transaction.PaymentMethod != PaymentMethod.Cash)
        {
            await jsRuntime.InvokeVoidAsync("alert", "Transactions with TotalValue above 50 Euros can only be paid in Cash.");
            return;
        }

        HttpResponseMessage? response = null;

        if (Id == null)
        {
            response = await Http.PostAsJsonAsync("transaction", Transaction);
        }
        else
        {
            response = await Http.PutAsJsonAsync("transaction", Transaction);
        }

        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("transactions");
    }

    /* Transaction Lines  */

    int TransactionLineQuantity = 1;

    private void AddTransactionLine()
    {
        var item = TransactionLine.Items.FirstOrDefault(i => i.Id == TransactionLine.ItemId);

        if (item == null)
        {
            return;
        }

        // Business rule
        if (item.ItemType == ItemType.Fuel)
        {
            // Check if the transaction already has an item of Fuel type
            if (Transaction.TransactionLines.Any(tl => TransactionLine.Items.FirstOrDefault(i => i.Id == tl.ItemId)?.ItemType == ItemType.Fuel))
            {
                jsRuntime.InvokeVoidAsync("alert", "A transaction can have only one item of Fuel type.");
                return;
            }
        }

        // Calculations
        var netValue = TransactionLineQuantity * item.Price;
        var discountPercent = (item.ItemType == ItemType.Fuel && netValue > 20) ? 10.00m : 0.00m;
        var discountValue = Decimal.Round(netValue * (discountPercent / 100), 2);
        var totalValue = Decimal.Round(netValue - discountValue, 2);

        Transaction.TransactionLines.Add(new TransactionLineDto
        {
            ItemId = item.Id,
            Quantity = TransactionLineQuantity,
            ItemPrice = item.Price,
            NetValue = netValue,
            DiscountPercent = discountPercent,
            DiscountValue = discountValue,
            TotalValue = totalValue,
        });

        // Reset Quantity
        TransactionLineQuantity = 1;

    }

    private void DeleteTransactionLine(TransactionLineDto transactionLine)
    {
        Transaction.TransactionLines.Remove(transactionLine);
    }

    // Readonly
    decimal TransactionTotalValue => Transaction.TransactionLines.Sum(tl => tl.TotalValue);

    /* Search Customer */

    string? CustomerCardNumber;

    bool? CustomerFound;

    private void FindCustomerByCardNumber()
    {
        var fetchCustomer = Transaction.Customers.FirstOrDefault(c => c.CardNumber == CustomerCardNumber);

        if (fetchCustomer == null)
        {
            CustomerFound = false;
        }
        else
        {
            Transaction.CustomerId = fetchCustomer.Id;
            CustomerFound = true;
        }
    }

    private void CreateCustomer()
    {
        navigationManager.NavigateTo("customer/edit");
    }

}