@using FuelStation.Blazor.Shared.DTOs.Employee
@using FuelStation.Models.Enums

@using System.ComponentModel.DataAnnotations

@page "/employee/edit/{Id:int?}"

@inject HttpClient Http
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

@if (Employee == null)
{
    <Spinner />
}
else
{
    @if (Id == null)
    {
        <PageTitle>New Employee - Fuel Station</PageTitle>
        <h2 class="mb-5">Add new employee</h2>
    }
    else
    {
        <PageTitle>Edit Employee @Employee.Name @Employee.Surname - Fuel Station</PageTitle>
        <h2 class="mb-5">Edit employee @Employee.Id: @Employee.Name @Employee.Surname</h2>
    }

    <EditForm Model="Employee" OnValidSubmit="Save">
        <DataAnnotationsValidator />

        <div class="row mb-3">

            <div class="col-md-6 mb-3">
                <label class="form-label">Employee Name</label>
                <input class="form-control" type="text" placeholder="Enter employee's name" @bind-value="Employee.Name" />
                <ValidationMessage For="@(() => Employee.Name)" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Employee Surname</label>
                <input class="form-control" type="text" placeholder="Enter employee's surname" @bind-value="Employee.Surname" />
                <ValidationMessage For="@(() => Employee.Surname)" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Hire Date Start</label>
                <input class="form-control" type="date" @bind-value="Employee.HireDateStart" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Hire Date End</label>
                <input class="form-control" type="date" @bind-value="Employee.HireDateEnd" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Salary Per Month</label>
                <input class="form-control" type="text" @bind-value="Employee.SallaryPerMonth" />
                <ValidationMessage For="@(() => Employee.SallaryPerMonth)" />
            </div>

            <div class="col-md-6 mb-3">
                <label class="form-label">Employee Type</label>
                <select class="form-select" @bind="Employee.EmployeeType">
                    @foreach (var enumValue in Enum.GetValues<EmployeeType>())
                    {
                        <option value="@enumValue">@enumValue</option>
                    }
                </select>
            </div>

        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="btn-group" role="group" aria-label="Actions">
                    <button class="btn btn-primary" type="submit">Save</button>
                    <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
                </div>
            </div>
        </div>

    </EditForm>
}

@code {

    [Parameter] public int? Id { get; set; }

    EmployeeEditDto? Employee { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            Employee = new();
            Employee.HireDateStart = DateTime.Today;
            Employee.HireDateEnd = DateTime.MaxValue;
            Employee.EmployeeType = EmployeeType.Staff;
        }
        else
        {
            Employee = await Http.GetFromJsonAsync<EmployeeEditDto>($"employee/edit/{Id}");
        }
    }

    private void Cancel()
    {
        navigationManager.NavigateTo("employees");
    }

    private async Task Save()
    {
        HttpResponseMessage? response = null;

        if (Id == null)
        {
            response = await Http.PostAsJsonAsync("employee", Employee);
        }
        else
        {
            response = await Http.PutAsJsonAsync("employee", Employee);
        }

        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("employees");
    }

}